<div class="container">
  <div class="flex-div">
    <div class="flex-item">
      <button mat-raised-button color="primary" class="btn-block" (click)="ClassUpdate()">
        <mat-icon>save</mat-icon>&nbsp; 儲存
      </button>
    </div>
    <div class="flex-item">
      <button mat-raised-button color="accent" class="btn-block" (click)="ClassAdd()">
        <mat-icon>add</mat-icon>&nbsp; 新增班級
      </button>
    </div>
  </div>
</div>

<div class="container mtop">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let class of cleanService.classArr;let i = index;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{class.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-raised-button color="warn" style="float: right;" (click)="ClassDel(i)">
        <mat-icon>delete</mat-icon>
      </button>
      <mat-form-field appearance="outline">
        <mat-label>班級名稱</mat-label>
        <input matInput [(ngModel)]="class.name" [name]="'class'+i">
      </mat-form-field>
      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let area of class.ownArea;let j = index;" (removed)="class.ownArea.splice(j,1)">
            {{cleanService.mapAreaName[area]}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-form-field>
      <mat-form-field>
        <mat-label>新增外掃區</mat-label>
        <mat-select (opened)="ReflashArea();" (selectionChange)="class.ownArea.push($event.value)">
          <mat-option *ngFor="let mapArea of cleanService.mapArea;let j = index;" [disabled]="mapArea.disabled"
            [value]="j">{{cleanService.mapAreaName[j + cleanService.range[0]]}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>新增廁所區</mat-label>
        <mat-select (opened)="ReflashArea();"
          (selectionChange)="class.ownArea.push($event.value + cleanService.range[1])">
          <mat-option *ngFor="let mapArea of cleanService.mapArea2;let j = index;" [disabled]="mapArea.disabled"
            [value]="j">{{cleanService.mapAreaName[j + cleanService.range[1]]}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>新增內掃區</mat-label>
        <mat-select (opened)="ReflashArea();"
          (selectionChange)="class.ownArea.push($event.value + cleanService.range[2])">
          <mat-option *ngFor="let mapArea of cleanService.mapArea3;let j = index;" [disabled]="mapArea.disabled"
            [value]="j">{{cleanService.mapAreaName[j + cleanService.range[2]]}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="flex-div">
        <div class="flex-item">
          <mat-form-field>
            <input matInput placeholder="搜尋關鍵字" ngModel name="key" value="Sushi" #keywrod>
          </mat-form-field>
        </div>
        <div class="flex-item">
          <mat-form-field>
            <mat-label>搜尋區域</mat-label>
            <mat-select (opened)="ReflashArea();" (selectionChange)="class.ownArea.push($event.value)">
              <ng-container *ngFor="let mapArea of cleanService.mapAreaAll;let j = index;">
                <mat-option [ngClass]="{'hide': true}"
                  *ngIf="cleanService.mapAreaName[j].toUpperCase().indexOf(keywrod.value.toUpperCase()) != -1"
                  [disabled]="mapArea.disabled" [value]="j">{{cleanService.mapAreaName[j]}}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<br>
