<div class="container">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let history of cleanService.historyWeek;let i = index;" (afterExpand)="cleanService.showData(i)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{history.id}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-raised-button color="primary" class="mright" (click)="test(i)">結算本週</button>
      <button mat-raised-button color="primary" class="mright" (click)="exportToCSV(i,'outer')">外掃區</button>
      <button mat-raised-button color="primary" class="mright" (click)="exportToCSV(i,'low')">教室(低)</button>
      <button mat-raised-button color="primary" class="mright" (click)="exportToCSV(i,'high')">教室(高)</button>
      <button mat-raised-button color="primary" [routerLink]="['./',history.id]">詳細評分</button>
      <p>目前數據</p>
      <ng-container *ngFor="let clean of history.clean;let j = index">
        <p *ngIf="clean !== undefined">{{weekZh[j]}}</p>
      </ng-container>
      分數：
      <span *ngIf="history.historyDatas === undefined">未計算</span>
      <mat-list-item *ngFor="let historyData of history.historyDatas;let j = index">
        <p mat-line>
          {{historyData.name}}：
          外{{historyData.scores.scoresA}}
          廁{{historyData.scores.scoresB}}
          內{{historyData.scores.scoresC}}
        </p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<br>
<br>
