<div class="container">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let history of historyWeek;let i = index;" (afterExpand)="showData(i)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{history.id}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      目前數據
      <ng-container *ngFor="let clean of history.clean;let i = index">
        <p *ngIf="clean !== undefined">{{weekZh[i]}}</p>
      </ng-container>
      <button mat-raised-button color="primary">結算本週</button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<br>
<br>
