<mat-toolbar color="primary" style="z-index: 1;">
  <mat-toolbar-row>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    <span class="spacer"></span>
    <span>{{cleanService.routerName}}</span>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav mode="over" autoFocus="false" fixedTopGap="56" fixedBottomGap="0" fixedInViewport="true" #sidenav>
    <mat-list>
      <mat-list-item>
        <button mat-button class="btn-block" routerLink="/" (click)="sidenav.toggle()">
          <mat-icon>home</mat-icon>&nbsp; 主頁面
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button class="btn-block" routerLink="/areaSet" (click)="sidenav.toggle()">
          <mat-icon>category</mat-icon>&nbsp; 區域管理
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button class="btn-block" routerLink="/classSet" (click)="sidenav.toggle()">
          <mat-icon>contact_mail</mat-icon>&nbsp; 班級管理
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button class="btn-block" routerLink="/history" (click)="sidenav.toggle()">
          <mat-icon>find_in_page</mat-icon>&nbsp; 歷史紀錄
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-sidenav>
  <div class="router-outlet">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
